* {
	font-family: 'Raleway', sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: #dbf8ff;
}

.nav-up {
	top: -10vh;
}

header {
	padding: 20px 0;
	position: fixed;
	top: 0;
	background: radial-gradient(at top left, rgb(255,255,255), rgb(255,255,255), rgb(255,255,255), rgb(146,217,252), rgb(146,217,252));
	transition: top 0.2s ease-in-out;
	height: 10vh;
	width: 100% !important;
	border-radius: 0 0 50px 0;
	z-index: 10;
}

header .row,
footer .row {
	display: flex;
	align-items: center;
}

header .row img {
	width: 100px;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header a {
	color: #000;
}

.btn {
	margin: 0;
	padding: 10px 15px 10px 15px;
	border-radius: 20px;
	border: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	transition: All 0.5s ease;
}

.btn:hover {
	background-color: #fff;
}

.jumbotron {
	height: 80vh;
	display: flex;
	align-items: center;
	background-image: url(../images/jumbotron-piano.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-shadow: 0.5px 0.5px 0.5px #000000;
}

.jumbotron h1 {
	font-size: 80px;
	font-weight: 500;
}

.jumbotron h2 {
	margin-top: 1.5em;
	font-size: 40px;
}

main {
	color: #000;
}

main h1 {
	font-size: 52px;
	background-color: rgba(146,217,252, 0.8);
}

#about {
	margin-left: 10vw;
}

.about-body {
	padding-top: 1em;
	width: 75%;
}

.about-body img {
	height: 200px;
	float: left;
	padding-right: 2em;
}

#about p {
	padding-bottom: 1em;
	font-size: 16px;
}

#repertoire {
	margin-right: 10vw;
}

.repertoire-body {
	padding-top: 3em;
	float: right;
}

button.accordion {
	background-color: #dbf8ff;
	padding: 18px;
	width: 100%;
	text-align: right;
	font-size: 24px;
	border: none;
	outline: none;
	transition: 0.5s;
}

button.accordion.active, button.accordion:hover {
	background-color: rgb(146,217,252);
}

div.panel {
	padding: 0 18px;
	width: 100%;
	background-color: #fff;
	font-size: 20px;
	border-radius: 0 0 10px 10px;
	outline: none;
	display: none;
}

.panel ul {
	padding-top: 10px;
}

.panel ul li {
	padding-bottom: 10px;
	text-align: left;
}

#experience {
	margin-left: 10vw;
}

#experience h2 {
	margin-bottom: 1em;
}

.recent {
	margin-top: 2.5em;
}

.popular {
	margin-top: 1em;
}

.vid-desc {
	display: inline-block;
	padding-right: 1em;
}

.popular p {
	margin-bottom: 2em;
	width: 640px;
	height: 100px;
	overflow: auto;
}

.embedded-video {
	border: 3px inset rgb(146, 217, 252);
}

#contact {
	margin-right: 10vw;
}

#contact h2 {
	padding-bottom: 0.3em;
	text-align: left;
}

#contact li {
	font-size: 16px;
	padding-bottom: 0.5em;
	text-align: left;
}

.contact-body {
	width: 15vw;
	float: right;
}

.contact-personal {
	padding-bottom: 1em;
}

.fb-page {
	float: right;
	margin-top: 1em;
	margin-left: 3em;
}

footer, .push {
	height: 10vh;
}

footer {
	padding-top: 30px;
	background-color: #c9cfd8;
	width: 100% !important;
}

footer .col-sm-12 {
	display: flex;
}

footer ul {
	justify-content: center;
	list-style: none;
}

footer img {
	height: 32px;
}