* {
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #dbf8ff;
}

header {
	margin-top: 75px;
	padding: 20px 0;
	background: linear-gradient(to right, rgba(255,255,255,0.75), rgba(255,255,255,0.75), rgba(146,217,252,0.75));
	position: fixed;
	width: 100% !important;
	border-radius: 0 0 50px 0;
}

header .row,
footer .row {
	display: flex;
	align-items: center;
}

header .row img {
	width: 100px;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header a {
	color: #000;
}

.btn {
	margin: 0;
	padding: 10px 15px 10px 15px;
	border-radius: 20px;
	border: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	transition: All 0.5s ease;
}

.btn:hover {
	background-color: #fff;
}

.jumbotron {
	margin: 0;
	display: flex;
	align-items: center;
	background-image: url(images/jumbotron-piano.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 850px;
	color: #fff;
	text-shadow: 0.5px 0.5px 0.5px #000000;
}

.jumbotron .container {
	margin-top: 200px;
	margin-bottom: 3em;
	margin-left: 200px;
	height: 80%;
	width: 100%;
	overflow: auto;
}

.jumbotron h1 {
	font-size: 80px;
	font-weight: 500;
}

.about-body {
	padding-top: 3em;
}

footer {
	margin: 30px 0;
}

footer .col-sm-12 {
	display: flex;
}

footer ul {
	justify-content: center;
	list-style: none;
}

footer img {
	height: 32px;
}