* {
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #dbf8ff;
}

header {
	margin-top: 75px;
	padding: 20px 0;
	background: linear-gradient(to right, rgba(255,255,255,0.75), rgba(255,255,255,0.75), rgba(146,217,252,0.75));
	position: fixed;
	width: 100% !important;
	border-radius: 0 0 5px 5px;
}

.not-header {
}

header .row,
footer .row {
	display: flex;
	align-items: center;
}

header h1 {
	font-weight: 700;
	margin: 0;
}

header h3 {
	margin-top: 0.6em;
	margin-bottom: 0;
}

header nav {
	display: flex;
	justify-content: flex-end;
}

header a {
	color: black;
}

header p {
	padding: 0 20px;
	margin: 0;
}

.btn {
	margin: 0;
	padding: 10px 15px 10px 15px;
	border-radius: 20px;
	border: 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.btn:hover {
	background-color: #fff;
}

.jumbotron {
	margin: 0;
	display: flex;
	align-items: center;
	background-image: url(images/jumbotron-piano.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 800px;
	color: #fff;
	text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h1 {
	font-size: 80px;
	font-weight: 500;
	margin: 0;
}

.jumbotron h2 {
	margin-top: 1.5em;
	font-size: 40px;
}

footer {
	margin: 50px 0;
}

footer .col-sm-12 {
	margin: 0;
	display: flex;
}

footer ul {
	padding:left: 0;
	padding:right: 0;
	justify-content: center;
	list-style: none;
}

footer img {
	height: 32px;
}